*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --regular-font: "Roboto", "Helvetica", "Tahoma", "Arial", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}