@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ruslan+Display&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --regular-font: "Roboto", "Helvetica", "Tahoma", "Arial", sans-serif;
  --title-font: "Ruslan Display", var(--regular-font);
  --main-bg-color: #eff6fc;
  --header-color: #467ca5;
  --general-padding: 15px;
}

html {
  background-color: var(--main-bg-color);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--general-padding);
  background-color: var(--header-color);
}

.page-title {
  font-family: var(--title-font);
  color: var(--main-bg-color);
}

.main {
  padding: var(--general-padding);
  display: flex;
  justify-content: space-around;
  gap: var(--general-padding);
}

.board-container {
  width: 500px;
  height: 500px;
  margin-top: 75px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.board-cell {
  border: 1px dashed #afafaf;
}

.board-cell:hover {
  background-color: #dfdfdf;
}